In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Read data from file

In [2]:
df = pd.read_csv("C:/Users/dfeil/Downloads/adult.data.csv")

In [3]:
df.head

<bound method NDFrame.head of        age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]>

In [ ]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [4]:
 pd.Series(df.race).value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [ ]:
 # What is the average age of men?

In [5]:
sum_males =df.loc[df["sex"] == "Male"]

In [24]:
sum_males.mean(numeric_only=True)[0]

age                   39.433547
fnlwgt            191771.449013
education-num         10.102891
capital-gain        1329.370078
capital-loss         100.213309
hours-per-week        42.428086
dtype: float64

In [ ]:
# What is the percentage of people who have a Bachelor's degree?

In [7]:
 pd.Series(df.education == "Bachelors").mean().round(decimals =4)*100

16.45

In [ ]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [8]:
 pd.Series(((df.education == "Bachelors") | (df.education == "Masters" )| (df.education == "Doctorate")) & (df.salary == ">50K")).mean().round(decimals =4)*100

10.71

In [ ]:
# What percentage of people without advanced education make more than 50K?

In [9]:
pd.Series(((df.education != "Bachelors") | (df.education != "Masters" )| (df.education != "Doctorate")) & (df.salary == ">50K")).mean().round(decimals =4)*100

24.08

In [ ]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [10]:
pd.Series(df.columns)[12]

'hours-per-week'

In [11]:
min_work = pd.Series(df["hours-per-week"]).min()
min_work

1

In [12]:
pd.Series(min_work & pd.Series(df.salary == ">50K")).mean().round(decimals =4)*100

24.08

In [13]:
#What country has the highest percentage of people that earn >50K and what is that percentage?

In [14]:
richest_country=df[(df.salary == ">50K")]
number_high = richest_country["native-country"].value_counts()

In [15]:
jobs_sum = df["native-country"].value_counts()

In [16]:
percentage = jobs_sum/number_high

In [22]:
result = pd.DataFrame({"land": percentage.index, "percentage": percentage.values})
result = result.sort_values("percentage", ascending=False)
result.round(decimals=2).head(3)

                  land  percentage
6   Dominican-Republic       35.00
4             Columbia       29.50
13           Guatemala       21.33

In [18]:
#Identify the most popular occupation for those who earn >50K in India.

In [19]:
india_jobs=df[(df["native-country"] == "India") & (df.salary == ">50K")]

In [20]:
india_jobs["occupation"].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64